# Переменные для виджета
NEXT_PUBLIC_WIDGET_SCRIPT=
NEXT_PUBLIC_CHAT_ID=

# Переменные для отправки сообщений на почту
# Хост
SMTP_HOST=
# Порт
SMTP_PORT=
# Почта куда отправляются письма
NEXT_PUBLIC_SMTP_USER=
# Пароль приложения
SMTP_PASS=

# Яндекс метрики
NEXT_PUBLIC_YANDEX_PROJECT_ID=