# Переменные для виджета
NEXT_PUBLIC_WIDGET_SCRIPT=
NEXT_PUBLIC_CHAT_ID=

# Переменные для отправки сообщений на почту
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=
NEXT_PUBLIC_EMAIL_NAME=

# Яндекс метрики
NEXT_PUBLIC_YANDEX_PROJECT_ID=